*:focus {
    outline: 0;
}

::-webkit-scrollbar-thumb:vertical { width:10px; height:10px; background-color: #666; }
::-webkit-scrollbar { width:10px; height:5px; background: #000; margin-right:5px; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
html,body {
	margin:0;
	padding:0px;
	background: #000;
	color:#fff;
	font-family: sans-serif;
	position: relative;
}
html {
	height: 100%;
	overflow: hidden;
}
body {
	min-height: 100%;
	
	font-family: 'PT Sans', sans-serif;

	scrollbar-base-color: #000;
	scrollbar-base-color: #666;
	scrollbar-3dlight-color: #000;
	scrollbar-highlight-color: #000;
	scrollbar-track-color: #000;
	scrollbar-arrow-color: #666;
	scrollbar-shadow-color: #000;
	scrollbar-dark-shadow-color: #000;
}
a {
	color:inherit;
}
#controls {
	position: absolute;
	width:100%;
	left:0;
	right: 0;
	bottom: 0px;
	
	background-color:rgba(0,0,0,0.9);
	color:#fff;
	text-align: center;
}
.fixed #controls {
	position: fixed;
}
#controls > div {
	margin: 0px auto;
}
#controls span {
	min-width: 30px;
	/*display: block;
	float: left;*/
	text-align: center;
}
#controls ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	
	display: block;
	overflow: hidden;
	padding-bottom: 5px;
}
#controls ul#c1 {
	width: 400px;
}
.touch #controls ul#c1 {
	width: 400px;
}
#controls ul#c2 {
	width: 80px;
}
#controls ul li {
	float: left;
}
#controls ul li a {
	color:#666;
	text-decoration: none;
	float: left;
	display: block;
	width:80px;
	font-size: 40px;
}
.touch #controls ul li a {
	width:60px;
}
#controls ul li a#play {
	
}
#controls ul li a#back,
#controls ul li a#forward {
	font-size:30px;
}
#controls li.c2 a {
	font-size: 35px;
}
.no-touch #controls ul li a:hover {
	color:gold;
}
#controls ul#c1 li a i {
	line-height: 55px;
}
#controls ul li a#play i.icon-play,
#controls ul li a#play.play i.icon-pause {
	display: inline-block;
	font-size: 36px;
	margin-left: -5px;
}
#controls ul li a#play.play i.icon-play,
#controls ul li a#play i.icon-pause {
	display: none;
}
#controls ul li a#play.play span.play,
#controls ul li a#play span.pause{
	display: none;
}
#controls ul li a#play span.play,
#controls ul li a#play.play span.pause {
	display: block;
}
#controls ul li a span {
	display: block;
	font-size: 9px;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	color:#666;
	/*visibility: hidden;*/
}
.touch #controls ul li a span {
	visibility: visible;
}
.no-touch #controls ul li a:hover span {
	color:gold;
	visibility: visible;
}
#controls ul.colors {
	list-style: none;
	margin: 0;
	padding: 0;
}

#controls ul.colors li {
	display: block;
	width: 10px;
	height: 10px;
	margin:0 2px;
	background-color: #fff;
}
#algorithms {
	width:100%;
	overflow: hidden;
	height:100%;
}
#algorithms #headers {
	width: 100%;
	height:50px;
	overflow: hidden;
}
#algorithms #headers h1 {
	text-align: center;
	width:48%;
	margin:0 1%;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 48px;
	border-bottom:1px dotted #555;

	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	float:left;
}
#algorithms #headers h1:last-child {
	float: right;
}
#algorithms #left {
	width:48%;
	float: left;
	overflow: auto;
	height:400px;
}
#algorithms #right {
	width:48%;
	float:right;
	overflow: auto;
	height:400px;
}
#algorithms ul {
	margin:0 auto;
	padding: 0;
	list-style: none;
	width: 330px;
}
#algorithms ul li {
	margin:5px 0px;
	padding: 0;
	color:#fff;
	width: 325px;
}
#algorithms ul li a {
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	padding: 5px;
	border:5px solid transparent;
}


#algorithms ul li a.selected {
	color:gold;
	border:5px solid #fff;
}
#algorithms ul li a i {
	font-style: normal;
	text-transform: none;
	color: #999;
}
#algorithms ul li a div.info {
	float:left;
	padding-top: 16px;
}
#algorithms ul li a span {
	float:right;
	width:142px;
	height:74px;
	display: block;
	margin: 0 auto;
	background: transparent url(../img/charts.png) no-repeat;
}
/***************** ALGS FOR MENU *********************/

#algorithms ul li a.QuickSort span {
	background-position: 0 0;
}
#algorithms ul li a.QuickSort2 span {
	background-position: 25% 0;
}
#algorithms ul li a.HeapSort span {
	background-position: 50% 0;
}
#algorithms ul li a.MergeSort span {
	background-position: 75% 0;
}
#algorithms ul li a.SmoothSort span {
	background-position: 100% 0;
}
#algorithms ul li a.RadixSort span {
	background-position: 0 50%;
}
#algorithms ul li a.ShellSortShell span {
	background-position: 25% 50%;
}
#algorithms ul li a.ShellSortCiura span {
	background-position: 25% 50%;
}
#algorithms ul li a.ShellSortKnuth2 span {
	background-position: 25% 50%;
}
#algorithms ul li a.ShellSortTokuda span {
	background-position: 25% 50%;
}
#algorithms ul li a.CycleSort span {
	background-position: 50% 50%;
}
#algorithms ul li a.SelectionSort span {
	background-position: 75% 50%;
}
#algorithms ul li a.InsertionSort span {
	background-position: 100% 50%;
}
#algorithms ul li a.GnomeSort span {
	background-position: 0 100%;
}
#algorithms ul li a.CombSort span {
	background-position: 25% 100%;
}
#algorithms ul li a.BubbleSort span {
	background-position: 50% 100%;
}
#algorithms ul li a.CocktailSort span {
	background-position: 75% 100%;
}
#algorithms ul li a.OddEvenSort span {
	background-position: 100% 100%;
}